<!DOCTYPE html>
<head>
    <title>Twitter Bootstrap Tutorial - A responsive layout tutorial</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type='text/css'>
        body {
            background-color: #CCC;
        }
    </style>
</head>
<body>
<div class='navbar navbar-inverse'>
    <div class='nav-collapse' style="height: auto;">
        <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">部门管理</a></li>
            <li><a href="#">员工管理</a></li>
        </ul>
    </div>
</div>
</body>
</html>	